Entropy-> randomness. Gini Impurity - have to look into it.

In [7]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

Here,my dependent columns will be in input variable and salary_more_then_100k column will be in my target variable.

In [9]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [12]:
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [13]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

as we know ML algo only knows numbers so we will make each column in inputs number with "lebelencoder".from sklearn

In [14]:
from sklearn.preprocessing import LabelEncoder

Now, create object of LabelEncoder class. there is 3 column so, will create 3 object.

In [15]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

The thing I have done here that have created 3 more columns equivalent to company, job and degree in their number form.

In [17]:
inputs['company_n']= le_company.fit_transform(inputs['company'])
inputs['job_n']= le_company.fit_transform(inputs['job'])
inputs['degree_n']= le_company.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

Drop those columns with words.

In [20]:
inputs_n = inputs.drop(['company','job','degree'], axis='columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

###### Now, we are ready to train our classifire , for dicision tree I will import tree from sklearn

In [30]:
from sklearn import tree

In [31]:
model = tree.DecisionTreeClassifier()

In [32]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [33]:
model.score(inputs_n,target)

1.0

###### Here, my model accuracy is 1 which is very good because I have use the same datasets which I have used for training.

Now its prediction time!!!!

In [36]:
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [35]:
 model.predict([[2,0,1]])

E:\Code\Py Code\Python installation\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)